.read-more {
    border: 1px solid rgb(236, 81, 81);
    background: white;
    border-radius: 0;
    color: rgb(236, 81, 81);
    font-size: 16px;
  }

  .read-more:hover {
    color: white;
    background: rgb(236, 81, 81);
    transition: all 1s;
    border: 1px solid rgb(236, 81, 81);
  }

  .detail {
    border: 2px dashed #e0dedd;
    padding: 20px;
    margin: 10px 10px 0 0;
  }

  .detail:hover {

    border: 2px dashed rgb(236, 81, 81);
    transition: all 1s;
  }

  .section {
    color: white;
    padding: 50px;
  }

  .section-btn {
    border-radius: 0;
    position: absolute;
    top: 100px;
    left: 15px;
  }

  @media screen and (max-width: 767px) {
    .section-btn {

      top: -60px;
      left: 50px;

    }
    .section {
      padding: 50px 0 70px 50px;
    }
  }

  footer i{
    margin-right: 20px;
  
    
  }
  .navbar-default{
    background: linear-gradient(to right,#3f1c06,#cb7c41)!important;
    border-radius: 0;
  }
  .navbar-default a{
    color: wheat !important;
  }

  footer a:hover{
    color: wheat;
    text-decoration: none;
  }
  .dropdown-menu a{
    color: black !important;

  }

  .active a,.open a{
    background: transparent !important;
  }